<div class="formgrid grid">
  <p-table [value]="candidatos" [tableStyle]="{'min-width': '50rem'}" selectionMode="single" [(selection)]="selectedCandidato" dataKey="nombreLista">
    <ng-template pTemplate="header">
      <tr>
        <th scope="col">Nombre Lista</th>
        <th scope="col">Dignidad Principal</th>
        <th scope="col">Nombre de la dignidad</th>
        <th scope="col">Logo</th>
        <th scope="col">Color</th>
        <th scope="col">Propuesta</th>
        <th scope="col">Requisitos</th>
        <th scope="col">Estado</th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-candidato>
      <tr [pSelectableRow]="candidato">
        <td>{{ candidato.nombreLista }}</td>
        <td>{{ candidato.presidente }}</td>
        <td>{{ candidato.presidente }}</td>
        <td>{{ candidato.logo }}</td>
        <td>{{ candidato.color }}</td>
        <td>{{ candidato.propuesta }}</td>
        <td>{{ candidato.requisitos }}</td>
        <td>{{ candidato.estado }}</td>
        <td>
          <button (click)="verDetalleCandidato(candidato)">
            <span>Ver más</span>
          </button>
        </td>
      </tr>
    </ng-template>
  </p-table>
</div>
