.nav{
    background-color: #0F2846;
    position: relative;
}
.user{
    color: #fff;
    position: absolute;
    right: 25px;
    top: 5px;
}
.btn{
    background-color: #0F2846;
    border-color: #0F2846;
}