<div class="formgrid grid">
    <div class="contenedor">
        <p-panel>
            <H3>Registro de candidatos y lista</H3>
            <form [formGroup]="form" (ngSubmit)="onSubmit()">
                <div class="card flex flex-wrap gap-3 p-fluid">
                    <div class="flex-auto">
                        <label> Nombre de la lista:</label>
                        <input type="text" pInputText formControlName="nombreLista" placeholder="Ej: ¡Avanza Yavirac!">
                        <!--<small *ngIf="form.controls['nombreLista'].errors && form.controls['nombreLista'].touched">
                                El campo debe ser completado
                            </small>-->
                    </div>
                    <br>
                    <p class="parrafo">Antes de registrar las dignidades de tu lista debes recordar y saber que existen
                        algunos términos y condiciones
                        que debes seguir para el correcto registro de la misma. Descarga este PDF para obtener más
                        información
                        <a href="" download="Términos y Condiciones"> Términos y Condiciones.PDF </a>
                    </p>
                    <br>
                    <div class="column">
                        <div class="flex-auto">
                            <label>Presidente/a:</label>
                            <input type="text" pInputText formControlName="presidente"
                                placeholder="Ej: Juan José Ordoñes Carrera" />

                        </div>
                        <br>
                        <div class="flex-auto">
                            <label>Requisitos para ser registrado:</label>
                            <input type="file" accept=".PDF" pInputText>
                        </div>
                        <br>
                    </div>
                    <div class="column">
                        <div class="flex-auto">
                            <label>Vicepresidente/a:</label>
                            <input type="text" pInputText formControlName="vicepresidente"
                                placeholder="Ej: Juan José Ordoñes Carrera" />

                        </div>
                        <br>
                        <div class="flex-auto">
                            <label>Requisitos para ser registrado:</label>
                            <input type="file" accept=".PDF" pInputText>

                        </div>
                    </div>
                    <div class="column">
                        <div class="flex-auto">
                            <label>Secretario/a:</label>
                            <input type="text" pInputText formControlName="secretario"
                                placeholder="Ej: Juan José Ordoñes Carrera" />

                        </div>
                        <br>
                        <div class="flex-auto">
                            <label>Requisitos para ser registrado:</label>
                            <input type="file" accept=".PDF" pInputText />

                        </div>
                        <br>
                    </div>
                    <div class="column">
                        <div class="flex-auto">
                            <label>Tesorero/a:</label>
                            <input type="text" pInputText formControlName="tesorero"
                                placeholder="Ej: Juan José Ordoñes Carrera" />

                        </div>
                        <br>
                        <div class="flex-auto">
                            <label>Requisitos para ser registrado:</label>
                            <input type="file" accept=".PDF" pInputText>

                        </div>
                    </div>
                    <div class="column">
                        <div class="flex-auto">
                            <label>Vocal 1:</label>
                            <input type="text" pInputText formControlName="vocal1"
                                placeholder="Ej: Juan José Ordoñes Carrera" />

                        </div>
                        <br>
                        <div class="flex-auto">
                            <label>Requisitos para ser registrado:</label>
                            <input type="file" accept=".PDF" pInputText>

                        </div>
                        <br>
                    </div>
                    <div class="column">
                        <div class="flex-auto">
                            <label>Vocal 2:</label>
                            <input type="text" pInputText formControlName="vocal2"
                                placeholder="Ej: Juan José Ordoñes Carrera" />

                        </div>
                        <br>
                        <div class="flex-auto">
                            <label>Requisitos para ser registrado:</label>
                            <input type="file" accept=".PDF" pInputText>

                        </div>
                    </div>
                    <div class="column">
                        <div class="flex-auto">
                            <label>Vocal 3:</label>
                            <input type="text" pInputText formControlName="vocal3"
                                placeholder="Ej: Juan José Ordoñes Carrera" />

                        </div>
                        <br>
                        <div class="flex-auto">
                            <label>Requisitos para ser registrado:</label>
                            <input type="file" accept=".PDF" pInputText>

                        </div>
                    </div>

                    <br>
                    <hr>
                    <div class="column2">
                        <div class="flex-auto">
                            <label> Logo de la lista:</label>
                            <input type="file" accept=".png, .jpg, .jpeg" pInputText>
                        </div>

                        <div class="flex-auto" style="text-align: center;">
                            <label>Color de la lista:</label>
                            <br>
                            <input type="color">
                        </div>
                        <div class="flex-auto">
                            <label>Propuestas:</label>
                            <input type="file" accept=".PDF" pInputText>

                        </div>

                    </div>
                </div>
                <br>
                <button class="btn btn-primary" pButton type="submit">Guardar</button>
            </form>
        </p-panel>
    </div>
    <br>
</div>
<router-outlet></router-outlet>