.contenedor{
    position: relative;
    padding: 0 15px;
}
.formgrid{
    position: absolute;
    width: 650px;
    top: 15%;
    left: 30%;
    margin: -25px 0 0 -25px;
    
}
.btn{
    background-color: #0F2846;
    width: 100px;
    border: #0F2846;
    left: 40%;
}
