<!--<h1 mat-dialog-title>Hi {{data.name}}</h1>!-->
<div mat-dialog-content>
  <p>Estas Segura de aprobar esta lista?</p>
</div>
    <form [formGroup]="form" (ngSubmit)="onSubmit()">
        <div *ngFor="let category of categories" class="field-checkbox">
            <p-radioButton [inputId]="category.key" [value]="category" formControlName="selectedCategory"></p-radioButton>
            <label [for]="category.key" class="ml-2">{{ category.name }}</label>
        </div>
          <button class="btn btn-primary" pButton type="submit" label="Guardar"></button>
    </form>
<div mat-dialog-actions>

</div>
