.container_list .p-element.p-selectable-row.ng-star-inserted {
    display: flex;
    width: 33%;
    flex-direction: column;
    margin: 20px;
    border: 1px solid black;
    border-radius: 20px;
    background-color: rgba(168, 166, 164, 0.621);
  }
  
  .container_list td{
    border: none !important;
  }