<div class="breadcrumb">
    <p-breadcrumb class="max-w-full" [model]="items" [home]="home"></p-breadcrumb>
</div>
<div class="formgrid grid">
    <div class="contenedor">
        <p-panel>
            <form [formGroup]="form" (ngSubmit)="onSubmit()">
                <div class="card flex flex-wrap gap-3 p-fluid">
                    <div class="flex-auto">
                        <label> Numero de cedula:</label>
                            <p-inputNumber mode="decimal" inputId="withoutgrouping" [useGrouping]="false" formControlName="cedula"></p-inputNumber>
                    </div>
                    <div class="flex-auto">
                        <label>Nombres:</label>
                            <input type="text" pInputText formControlName="nombreEstudiante"/>

                        <label>Apellidos:</label>
                            <input type="text" pInputText formControlName="apellidoEstudiante"/>
                    </div>
                    <div class="flex-auto">
                        <label>Correo electronico:</label>
                            <input type="text" pInputText formControlName="emailEstudiante"/>
                    </div>
                    <div class="flex-auto">
                        <label>Carrera:</label>
                        <p-dropdown [options]="carreras"
                        formControlName="carrera"
                        placeholder="Seleccione..."
                        optionLabel="carrera"></p-dropdown>
                    </div>
                    <div class="flex-auto">
                        <label>Jornada:</label>
                        <p-dropdown [options]="jornadas"
                        formControlName="jornada"
                        placeholder="Seleccione..."
                        optionLabel="jornada"></p-dropdown>
                    </div>
                    <div class="flex-auto">
                        <label>Paralelo:</label>
                        <p-dropdown [options]="paralelos"
                        formControlName="paralelo"
                        placeholder="Seleccione..."
                        optionLabel="paralelo"></p-dropdown>
                    </div>
                    <div class="flex-auto">
                        <button class="btn btn-primary" pButton type="submit" label="Guardar"></button>
                    </div>
                </div>
            </form>
        </p-panel>
    </div>
</div>

<router-outlet></router-outlet>
