<p-table [value]="usuario" [tableStyle]="{'min-width': '50rem'}"
        selectionMode="single" [(selection)]="selectedPerson" dataKey="id">
  <ng-template pTemplate="header">
    <tr>
      <th>Cedula</th>
      <th>Nombres Completos</th>
      <th>Correo electronico</th>
      <th>Curso</th>
    </tr>
  </ng-template>
  <ng-template pTemplate="body" let-item>
    <tr [pSelectableRow]="item">
      <td>{{item.cedula}}</td>
      <td>{{item.nombre}}{{item.apellido}}</td>
      <td>{{item.correo}}</td>
      <td>{{item.carrera}}{{item.jornada}}{{item.paralelo}}</td>
      <td>
        <button pButton type="button" class="p-button-warning" icon="pi pi-pencil"
                (click)="editUsuario(item)"></button>
        <button pButton type="button" class="p-button-danger" icon="pi pi-trash"
                (click)="deleteUsuario(item.cedula)"></button>
      </td>
    </tr>
  </ng-template>
</p-table>
{{selectedPerson | json}}
<button pButton type="button" class="p-button-success" label="Crear Persona" (click)="crearUsuario()"></button>
