
<button (click)="imprimir()" class="btn btn-success">Imprimir</button>
<div class="detalle-candidato">
    <h2>Detalles del Candidato</h2>
    <div class="detalle-item">
      <label>Nombre Lista:</label>
      <span>{{ candidato?.nombreLista }}</span>
    </div>
    <div class="detalle-item">
      <label>Presidente:</label>
      <span>{{ candidato?.presidente }}</span>
    </div>
    <div class="detalle-item">
      <label>Vicepresidente</label>
      <span>{{ candidato?.vicepresidente }}</span>
    </div>
    <div class="detalle-item">
        <label>Secretario:</label>
        <span>{{ candidato?.secretario }}</span>
      </div>
      <div class="detalle-item">
        <label>Tesorero:</label>
        <span>{{ candidato?.tesorero }}</span>
      </div>
      <div class="detalle-item">
        <label>vocal1</label>
        <span>{{ candidato?.vocal1 }}</span>
      </div>
      <div class="detalle-item">
        <label>vocal2:</label>
        <span>{{ candidato?.vocal2 }}</span>
      </div>
      <div class="detalle-item">
        <label>vocal3:</label>
        <span>{{ candidato?.vocal3 }}</span>
      </div>
      <div class="detalle-item">
        <label>Logo:</label>
        <span>{{ candidato?.logo }}</span>
      </div>
      <div class="detalle-item">
        <label>Color:</label>
        <span>{{ candidato?.color }}</span>
      </div>
      <div class="detalle-item">
        <label>Propuesta:</label>
        <span>{{ candidato?.propuesta }}</span>
      </div>
      <div class="detalle-item">
        <label>Requisitos:</label>
        <span>{{ candidato?.requisitos }}</span>
      </div>
  </div>
  